<p>
FYS Docs!
</p>
For an example of a customized Free Your Self website with multiple pages, check out <a href="http://leto.github.com">leto.github.com</a>. If you have installed and/or customized an instance of Free Your Self, add it to the <a href="installations.html">installations</a> page.

If you want to support the development of <a href="{{ site.freeyourself_url }}">{{ page.title }}</a>, kindly make a donation via your preferred service:
<br />
<br />
{% include donation_buttons.html %}
<br />
<br />
